<template name="collections">
    <div class="containter">
        <div class="row collectionArea">
          <div class="col-md-4">
            <input type="text" class="form-control" id="collectionName" placeholder="Collection Name">
          </div>
          <div class="col-md-4">
            <div class="input-group">
              <button type="button" id="create" class="btn btn-success">Create Collection</button>
            </div>            
          </div>
          <div class="col-md-4">
              <button type="button" class="btn btn-primary hideAction">Hide Upload Area</button>            
          </div>
        </div>
        <div class="row">
          <div class="schemaAre">
            {{> upload}}
          </div>
          {{> uploadsList}}          
        </div>
    </div>
</template>
<template name="home">
    {{> collections}}
</template>

<template name="upload">
    <div class="panel col-md-12">
        <form role="form">
            <div class="form-group">
                <label for="files">Upload Schema file</label>
                <div>
                    <input type="file" id="files" multiple>
                </div>
            </div>
        </form>
        <div id="dropzone" class="dropzone">
            <div class="dropzoneText">Drop Schema file to upload</div>
        </div>
        <hr>
    </div>
</template>

<template name="uploadsList">
    <div class="col-md-12 uploadsList">
    {{#each uploads}}
        <div class="row">
          <div class="col-md-8"><p>{{this.name}}</p></div>
          <div class="col-md-4"><p>{{dateFromUTC this.metadata.date}}</p></div>
        </div>
        <div class="row media {{_id}}">
            {{>media}}
        </div>
        <hr>
    {{/each}}
    </div>
</template>

<template name="media">
    {{#if this.isUploaded}}
        {{#if isText}}
            <div class="row">
                <div class="col-md-12">
                    <pre>{{asyncFetch this.url}}{{sessionVar this.url}}</pre>         
                </div>
            </div>
        {{else}}
            <p>Unrecognized file type{{#if this.type}} ({{this.type}}){{/if}}. Open at your own risk:</p><p><a href="{{this.url}}">{{this.name}}</a></p>
        {{/if}}
    {{else}}
        {{> FS.UploadProgressBar bootstrap=true}}
    {{/if}}
</template>
